* 
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body 
{
    height: 100vh;
}

#mazeCanvas 
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    margin-block: auto;
}

main 
{
    height: 100%;

    display: flex;
    justify-content: space-between;
}

main aside 
{
    background-color: rgba(173, 194, 194, 0.493);
    border: 2px solid rgb(38, 59, 59);

    text-align: center;
}

main aside .title 
{
    font-family: "Poppins", sans-serif;

    padding-block: 10px;
    margin-bottom: 5px;
    border-bottom: 1px solid rgb(38, 59, 59);
}

main .list 
{
    padding: 5px;

    width: 300px;

    display: flex;
    flex-direction: column;
    gap: 5px;

    list-style: none;
}

main .list li button 
{
    width: 100%;

    padding-block: 10px;

    cursor: pointer;
}

main .list li.unfinished button 
{
    background-color: lightgray;
    color: gray;
    border: 1px solid gray;

    cursor: default;
}

#mazeCanvas 
{
    background-color: black;
}

